html,
body {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ol,
ul {
  list-style: none; }

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: ''; }

html {
  font-size: 100%;
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

a:focus {
  outline: none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

audio:not([controls]) {
  display: none; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal;
  overflow: visible; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

* {
  box-sizing: border-box; }

@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format("eot"), url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

.s:before {
  display: inline-block;
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.s-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.s-2x {
  font-size: 2em; }

.s-3x {
  font-size: 3em; }

.s-4x {
  font-size: 4em; }

.s-5x {
  font-size: 5em; }

.s-fw {
  width: 1.2857142857142858em;
  text-align: center; }

.s-arrow-down:before {
  content: '\EA01'; }

.s-arrow-left:before {
  content: '\EA02'; }

.s-arrow-right:before {
  content: '\EA03'; }

.s-hamburger:before {
  content: '\EA04'; }

.wrapper {
  max-width: 1920px;
  padding: 0 246px;
  margin: 0 auto; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .wrapper {
      max-width: 768px;
      padding: 0 22px; } }
  @media (max-width: 767px) {
    .wrapper {
      min-width: 320px;
      padding: 0 20px; } }

.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important; }

.row:before,
.row:after {
  content: '';
  display: table;
  clear: both; }

.row {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .row {
      margin: 0 -7px; } }
  @media (max-width: 767px) {
    .row {
      margin: 0; } }

[class*='col-'] {
  float: left;
  min-height: 1px;
  padding: 0 15px; }
  @media (min-width: 768px) and (max-width: 1024px) {
    [class*='col-'] {
      padding: 0 7px; } }
  @media (max-width: 767px) {
    [class*='col-'] {
      padding: 0; } }

@media (min-width: 1025px) {
  .col-1 {
    width: 10%; }
  .offset-1 {
    margin-left: 10%; } }

@media (min-width: 1025px) {
  .col-2 {
    width: 20%; }
  .offset-2 {
    margin-left: 20%; } }

@media (min-width: 1025px) {
  .col-3 {
    width: 30%; }
  .offset-3 {
    margin-left: 30%; } }

@media (min-width: 1025px) {
  .col-4 {
    width: 40%; }
  .offset-4 {
    margin-left: 40%; } }

@media (min-width: 1025px) {
  .col-5 {
    width: 50%; }
  .offset-5 {
    margin-left: 50%; } }

@media (min-width: 1025px) {
  .col-6 {
    width: 60%; }
  .offset-6 {
    margin-left: 60%; } }

@media (min-width: 1025px) {
  .col-7 {
    width: 70%; }
  .offset-7 {
    margin-left: 70%; } }

@media (min-width: 1025px) {
  .col-8 {
    width: 80%; }
  .offset-8 {
    margin-left: 80%; } }

@media (min-width: 1025px) {
  .col-9 {
    width: 90%; }
  .offset-9 {
    margin-left: 90%; } }

@media (min-width: 1025px) {
  .col-10 {
    width: 100%; }
  .offset-10 {
    margin-left: 100%; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .col-1-t {
    width: 16.66667%; }
  .offset-1-t {
    margin-left: 16.66667%; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .col-2-t {
    width: 33.33333%; }
  .offset-2-t {
    margin-left: 33.33333%; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .col-3-t {
    width: 50%; }
  .offset-3-t {
    margin-left: 50%; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .col-4-t {
    width: 66.66667%; }
  .offset-4-t {
    margin-left: 66.66667%; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .col-5-t {
    width: 83.33333%; }
  .offset-5-t {
    margin-left: 83.33333%; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .col-6-t {
    width: 100%; }
  .offset-6-t {
    margin-left: 100%; } }

@media (max-width: 320px) {
  .col-1-m {
    width: 100%; } }

.block__title {
  border-bottom: 2px solid #fff;
  padding-bottom: 8px;
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  margin-left: -2px;
  margin-bottom: 90px;
  font-size: 36px; }
  .block__title:before {
    content: '';
    border-bottom: 7px solid #fff;
    position: absolute;
    bottom: -8px;
    left: 0px;
    width: 23%; }

a {
  text-decoration: none; }

.logo {
  font-size: 24px;
  color: #fff;
  background-color: #111;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  padding: 13px 18px 12px 19px; }
  .logo a {
    color: #fff; }

.block__btn {
  background-color: #fff;
  color: #111;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 14px 119px 15px 18px;
  position: relative; }
  .block__btn .block__btn__line {
    width: 25px;
    height: 2px;
    background-color: #111;
    position: absolute;
    top: 21px;
    left: 84px; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.block__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 26px; }
  .block__header .block__header__wrapper {
    padding: 0 0 0 276px; }
  .block__header .block__header__box {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .block__header .logo {
    padding: 12px 17px 11px 17px; }
    .block__header .logo a {
      letter-spacing: 0.029em; }
  .block__header ul {
    display: flex;
    transition: all .8s; }
    .block__header ul li {
      padding-right: 82px;
      font-size: 16px; }
      .block__header ul li:nth-child(2) {
        padding-right: 68px; }
      .block__header ul li:nth-child(3) {
        padding-right: 87px; }
      .block__header ul li:nth-child(4) {
        padding-right: 71px; }
      .block__header ul li:nth-child(5) {
        padding-right: 33px; }
      .block__header ul li:last-child {
        padding-right: 0; }
    .block__header ul a {
      letter-spacing: -0.024em;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold; }
    .block__header ul .block__header__item {
      color: #111; }
      .block__header ul .block__header__item:hover {
        border-bottom: 4px solid #2aaeb3;
        padding-bottom: 35px; }
    .block__header ul .block__header__item--blue {
      color: #fff;
      font-size: 16px;
      background-color: #2aaeb3;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      padding: 43px 65px 38px 66px; }
    .block__header ul .s-arrow-down {
      font-size: 8px;
      padding-left: 4px; }
  @media screen and (max-width: 1610px) {
    .block__header .block__header__wrapper {
      padding: 0 0 0 183px; } }
  @media screen and (max-width: 1462px) {
    .block__header .block__header__wrapper {
      padding: 0 183px; }
    .block__header ul {
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      text-align: center;
      height: 100vh;
      z-index: 2;
      background-color: #979797;
      padding-top: 200px; }
      .block__header ul li {
        padding-right: 0;
        padding-bottom: 20px;
        margin-bottom: 25px; }
        .block__header ul li:nth-child(2) {
          padding-right: 0; }
        .block__header ul li:nth-child(3) {
          padding-right: 0; }
        .block__header ul li:nth-child(4) {
          padding-right: 0; }
        .block__header ul li:nth-child(5) {
          padding-right: 0;
          padding-bottom: 80px; }
        .block__header ul li:last-child {
          padding-right: 0; }
      .block__header ul .block__header__item {
        color: #111; }
        .block__header ul .block__header__item:hover {
          border-bottom: none; }
    .block__header .hamburger__logo {
      display: block;
      z-index: 5; }
      .block__header .hamburger__logo a {
        color: #2aaeb3;
        font-size: 24px; }
      .block__header .hamburger__logo:hover {
        cursor: pointer; } }
  @media screen and (max-width: 1322px) {
    .block__header .block__header__wrapper {
      padding: 0 140px; } }
  @media screen and (max-width: 1180px) {
    .block__header .block__header__wrapper {
      padding: 0 64px; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .block__header .block__header__wrapper {
      padding: 0 22px; } }
  @media (max-width: 767px) {
    .block__header .block__header__wrapper {
      padding: 0 20px; }
    .block__header ul {
      padding-top: 100px; } }

.hamburger__logo {
  display: none; }
  @media screen and (max-width: 1462px) {
    .hamburger__logo {
      display: block; } }

.block__header--down {
  display: block !important; }

.block__hero {
  height: 970px;
  background-repeat: no-repeat;
  background-size: cover; }
  .block__hero .block__hero__wrapper {
    padding: 0 273px; }
  .block__hero .block__btn {
    background-color: #2aaeb3;
    color: #fff;
    padding: 13px 73px 15px 25px;
    word-spacing: 0.16em;
    margin-left: 3px; }
    .block__hero .block__btn .block__btn__line {
      background-color: #fff;
      top: 22px;
      left: 144px; }
  .block__hero .block__box {
    padding-top: 293px; }
  .block__hero h1 {
    color: #111;
    font-size: 63.5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: -0.005em;
    padding-bottom: 23px; }
  .block__hero h3 {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    color: #111;
    padding-left: 3px;
    padding-bottom: 39px; }
  @media screen and (max-width: 1610px) {
    .block__hero .block__hero__wrapper {
      padding: 0 183px; } }
  @media screen and (max-width: 1322px) {
    .block__hero .block__hero__wrapper {
      padding: 0 140px; } }
  @media screen and (max-width: 1180px) {
    .block__hero .block__hero__wrapper {
      padding: 0 64px; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .block__hero {
      background-position: 35%; }
      .block__hero .block__hero__wrapper {
        padding: 0 22px; } }
  @media (max-width: 767px) {
    .block__hero {
      background-position: 30%;
      height: 600px; }
      .block__hero .block__hero__wrapper {
        padding: 0 20px; }
      .block__hero h1 {
        font-size: 34px;
        text-align: center; }
      .block__hero h3 {
        font-size: 16px; }
      .block__hero .block__box {
        padding-top: 200px; }
      .block__hero .block__btn {
        padding: 11px 73px 13px 25px;
        font-size: 14px; }
        .block__hero .block__btn .block__btn__line {
          top: 19px; } }

.block__latest {
  padding-top: 134px; }
  .block__latest .slider {
    width: 100%; }
  .block__latest .slide {
    width: 670px;
    height: 501px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 30px; }
  .block__latest .block__latest__title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px; }
  .block__latest .block__btn {
    background-color: #2aaeb3;
    color: #fff;
    padding: 14px 90px 15px 19px; }
    .block__latest .block__btn .block__btn__line {
      width: 43px;
      background-color: #fff;
      left: 111px; }
  .block__latest .block__title {
    border-bottom: 2px solid #111;
    margin-left: 1px;
    margin-bottom: 0;
    margin-top: -1px; }
    .block__latest .block__title:before {
      content: '';
      border-bottom: 7px solid #111;
      width: 17%; }

.block__latest__wrapper {
  padding: 0 273px; }

.block__latest__slider--left {
  left: -346px; }

.block__moments {
  background-color: #f9f9f9;
  padding-top: 31px; }
  .block__moments .block__moments__wrapper {
    padding: 0 270px 0 264px; }
  @media screen and (max-width: 1610px) {
    .block__moments .block__moments__wrapper {
      padding: 0 183px; } }
  @media screen and (max-width: 1422px) {
    .block__moments .block__moments__wrapper {
      padding: 0 64px; } }
  @media screen and (max-width: 1180px) {
    .block__moments .block__moments__wrapper {
      padding: 0 22px; } }

.block__moments__slider {
  position: relative; }
  .block__moments__slider .slick-arrow {
    position: absolute;
    left: 50.8%;
    font-size: 13px;
    bottom: 0;
    z-index: 5;
    color: #2aaeb3;
    outline: none; }
  .block__moments__slider .slick-next {
    position: absolute;
    padding: 33px 21px 26px 30px;
    bottom: 0;
    margin-left: 79px;
    background-color: #fff; }
    .block__moments__slider .slick-next:hover {
      cursor: pointer;
      color: #fff;
      background-color: #2aaeb3;
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75); }
  .block__moments__slider .slick-prev {
    padding: 33px 21px 26px 30px;
    position: absolute;
    bottom: 0;
    background-color: #fff; }
    .block__moments__slider .slick-prev:hover {
      cursor: pointer;
      color: #fff;
      background-color: #2aaeb3;
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75); }
  .block__moments__slider .block__moment__box {
    padding-top: 112px;
    padding-left: 5px; }
  .block__moments__slider .block__title {
    border-bottom: 2px solid #111;
    margin-bottom: 150px; }
    .block__moments__slider .block__title:before {
      content: '';
      border-bottom: 7px solid #111;
      width: 18%;
      bottom: -9px; }
  .block__moments__slider .block__moments__big-txt {
    font-size: 24px;
    letter-spacing: 0em;
    line-height: 1.5;
    width: 85%;
    margin-bottom: 30px; }
  .block__moments__slider .block__moments__small-txt {
    font-size: 18px;
    font-weight: bold; }
  .block__moments__slider .block__moments__big-txt,
  .block__moments__slider .block__moments__small-txt {
    font-family: 'Lato', sans-serif; }
  @media screen and (max-width: 1180px) {
    .block__moments__slider .block__moment__box {
      padding-left: 30px; }
    .block__moments__slider .slick-arrow {
      left: 54.8%; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .block__moments__slider .row {
      flex-wrap: wrap-reverse; }
    .block__moments__slider .block__moment__box {
      padding-left: 0;
      padding-top: 10px; }
    .block__moments__slider .block__title {
      margin-bottom: 70px;
      margin-left: 2px; }
    .block__moments__slider .block__moments__big-txt {
      text-align: center;
      width: 100%;
      font-size: 22px; }
    .block__moments__slider .block__moments__image-box--centered {
      margin: 0 auto; }
    .block__moments__slider .slick-arrow {
      left: 78%; } }
  @media (max-width: 767px) {
    .block__moments__slider {
      padding-bottom: 20px; }
      .block__moments__slider .block__moments__image-box--centered {
        margin: 0 auto; }
      .block__moments__slider .slick-arrow {
        display: none !important; }
      .block__moments__slider img {
        max-width: 100%;
        display: block;
        height: auto; }
      .block__moments__slider .block__title {
        font-size: 25px;
        margin-left: 2px;
        margin-bottom: 46px; }
      .block__moments__slider .block__moment__box {
        padding-left: 0;
        padding-top: 40px; }
      .block__moments__slider .block__moments__big-txt {
        text-align: center;
        font-size: 14px;
        width: 100%; }
      .block__moments__slider .block__moments__small-txt {
        font-size: 13px; } }

.block__moments__link {
  color: #2aaeb3;
  letter-spacing: 0.01em; }

.block__center-slick {
  padding-top: 153px;
  padding-bottom: 99px;
  position: relative; }
  .block__center-slick .block__title {
    border-bottom: 2px solid #111;
    margin-bottom: 49px;
    padding-bottom: 5px; }
    .block__center-slick .block__title:before {
      content: '';
      border-bottom: 7px solid #111;
      position: absolute;
      bottom: -8px;
      left: 0px;
      width: 10%; }
  .block__center-slick .block__center-slick__txt {
    display: block;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    width: 189%;
    letter-spacing: 0.01em;
    line-height: 1.7;
    margin: 0 auto;
    margin-top: 26px;
    position: absolute;
    z-index: 10;
    bottom: -164px;
    left: -186px; }
    .block__center-slick .block__center-slick__txt a {
      color: #2aaeb3;
      letter-spacing: 0.02em; }
  .block__center-slick .block__center-slick__slider {
    position: relative; }
    .block__center-slick .block__center-slick__slider .slick-list {
      padding-bottom: 200px !important; }
    .block__center-slick .block__center-slick__slider .slide {
      height: 521px;
      width: 383px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      transition: all 0.5s; }
      .block__center-slick .block__center-slick__slider .slide .block__latest__slider__name {
        position: absolute;
        bottom: -1px;
        left: -1px;
        height: 73px;
        background-color: #fff;
        width: 236px;
        text-align: center;
        padding-top: 23px; }
        .block__center-slick .block__center-slick__slider .slide .block__latest__slider__name span {
          font-size: 24px;
          font-family: 'Montserrat', sans-serif;
          font-weight: bold;
          margin-left: -22px; }
    .block__center-slick .block__center-slick__slider .s-arrow-right {
      position: absolute;
      right: 0;
      top: 31.5%;
      z-index: 5;
      font-size: 13px;
      right: -145px;
      font-size: 25px;
      box-shadow: 0px 0px 5px 0px rgba(151, 151, 151, 0.3);
      padding: 20px 24px 23px 23px; }
    .block__center-slick .block__center-slick__slider .s-arrow-left {
      position: absolute;
      left: 0;
      top: 31.5%;
      z-index: 5;
      left: -141px;
      font-size: 25px;
      padding: 20px 23px 23px 24px;
      box-shadow: 0px 0px 5px 0px rgba(151, 151, 151, 0.3); }
    .block__center-slick .block__center-slick__slider .slick-current {
      height: 572px;
      width: 420px;
      margin: 0 91px; }
    .block__center-slick .block__center-slick__slider .slick-track {
      display: flex;
      align-items: center; }
  @media screen and (max-width: 1630px) {
    .block__center-slick .block__center-slick__slider .slick-current {
      width: 380px;
      margin: 0 50px; } }
  @media screen and (max-width: 1200px) {
    .block__center-slick .block__center-slick__slider .slide {
      height: 370px;
      width: 383px; }
    .block__center-slick .block__center-slick__slider .slick-list {
      padding: 0 50px 200px 50px !important; }
    .block__center-slick .block__center-slick__slider .slick-current {
      height: 438px;
      margin: 0 20px; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .block__center-slick {
      padding-top: 75px; }
      .block__center-slick .block__center-slick__txt {
        width: 100%;
        left: auto;
        bottom: -290px; }
      .block__center-slick .block__title {
        font-size: 28px;
        margin-bottom: 86px; }
      .block__center-slick .block__center-slick__slider .slick-list {
        padding: 0 50px 340px 50px !important; } }
  @media (max-width: 767px) {
    .block__center-slick {
      padding-top: 60px;
      padding-bottom: 64px; }
      .block__center-slick .block__center-slick__txt {
        width: 100%;
        font-size: 12px;
        left: auto;
        padding: 0 10px; }
      .block__center-slick .block__title {
        font-size: 19px;
        margin-bottom: 100px; }
      .block__center-slick .block__center-slick__slider .s-arrow-right {
        right: 0;
        top: -70px;
        right: 0; }
      .block__center-slick .block__center-slick__slider .s-arrow-left {
        left: 0;
        top: -70px;
        left: 0; }
      .block__center-slick .block__center-slick__slider .slide {
        height: 370px;
        width: 300px; }
      .block__center-slick .block__center-slick__slider .slick-current {
        height: 370px;
        margin: 0 20px;
        width: 300px; } }

.block__center-slick__wrapper {
  padding: 0 277px; }
  @media screen and (max-width: 1630px) {
    .block__center-slick__wrapper {
      padding: 0 180px; } }
  @media (max-width: 767px) {
    .block__center-slick__wrapper {
      padding: 0 20px; } }

.block__center-slick__txt--show {
  display: block !important; }

.block__center-slick--shadow {
  box-shadow: inset 0px 0px 300px 200px rgba(255, 255, 255, 0.5); }

.block__center-slick--no-name {
  display: none !important; }

.block__center-slick--no-txt {
  display: none !important; }

.block__standards {
  height: 700px;
  padding-top: 150px;
  margin-bottom: -36px; }
  .block__standards .block__box {
    display: flex;
    align-items: center; }
  .block__standards .block__standrads__wrapper {
    padding: 0 277px; }
  .block__standards .block__left {
    background-color: #111;
    padding-bottom: 82px;
    margin-right: 26px; }
  .block__standards h1 {
    color: #fff;
    padding-top: 132px;
    padding-bottom: 59px;
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-left: 63px;
    width: 90%;
    line-height: 1.2; }
  .block__standards .block__btn {
    background-color: #fff;
    color: #111;
    padding: 12px 62px 15px 18px;
    margin-left: 65px; }
    .block__standards .block__btn .block__btn__line {
      background-color: #111;
      top: 22px;
      left: 196px; }
  .block__standards p {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    color: #111;
    margin-top: 11px;
    line-height: 1.5;
    margin-left: -10px; }
  @media screen and (max-width: 1643px) {
    .block__standards .block__standrads__wrapper {
      padding: 0 183px; } }
  @media screen and (max-width: 1460px) {
    .block__standards .block__standrads__wrapper {
      padding: 0 64px; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .block__standards .block__standrads__wrapper {
      padding: 0 22px; }
    .block__standards h1 {
      font-size: 38px;
      padding-top: 45px;
      width: 100%;
      padding-left: 38px;
      padding-right: 113px; }
    .block__standards .block__btn {
      margin-left: 25px; }
    .block__standards p {
      font-size: 20px; } }
  @media (max-width: 767px) {
    .block__standards {
      padding-top: 80px;
      height: 530px;
      margin-bottom: 0px; }
      .block__standards .block__standrads__wrapper {
        padding: 0 20px; }
      .block__standards .block__left {
        margin-right: 0;
        padding-bottom: 58px; }
      .block__standards .block__box {
        display: block; }
      .block__standards h1 {
        font-size: 24px;
        padding-top: 45px;
        width: 100%;
        padding-left: 20px;
        padding-right: 38px; }
      .block__standards .block__btn {
        margin-left: 20px;
        font-size: 12px;
        padding: 12px 45px 10px 13px; }
        .block__standards .block__btn .block__btn__line {
          top: 19px;
          left: 145px; }
      .block__standards p {
        font-size: 14px;
        margin-left: 0;
        text-align: center;
        margin-top: 40px;
        border-bottom: 1px solid #f3f3f3;
        padding-bottom: 20px; } }

.block__news {
  background-color: #111;
  padding-bottom: 152px;
  position: relative;
  padding-top: 55px; }
  .block__news .block__news__wrapper {
    padding: 0 270px 0 277px; }
  .block__news .block__date,
  .block__news .block__title,
  .block__news .block__paragraph {
    color: #fff; }
  .block__news .block__date {
    color: #979797;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0em; }
  .block__news .block__image {
    height: 210px;
    display: block;
    width: 100%;
    margin-bottom: 30px; }
  .block__news .block__paragraph {
    font-size: 24px;
    letter-spacing: 0.008em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    word-spacing: -2px;
    width: 94%;
    line-height: 1.5;
    padding-top: 3px; }
  .block__news .block__col {
    position: relative; }
    .block__news .block__col .block__btn {
      position: absolute;
      bottom: -75px; }
  @media screen and (max-width: 1610px) {
    .block__news .block__news__wrapper {
      padding: 0 183px; } }
  @media screen and (max-width: 1322px) {
    .block__news .block__news__wrapper {
      padding: 0 140px; } }
  @media screen and (max-width: 1180px) {
    .block__news .block__news__wrapper {
      padding: 0 64px; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .block__news {
      padding-bottom: 132px; }
      .block__news .block__news__wrapper {
        padding: 0 22px; }
      .block__news .block__image {
        height: 160px; }
      .block__news .block__paragraph {
        font-size: 20px; } }
  @media (max-width: 767px) {
    .block__news {
      padding-bottom: 40px; }
      .block__news .block__news__wrapper {
        padding: 0 20px; }
      .block__news .block__title {
        font-size: 25px;
        margin-bottom: 42px; }
      .block__news .block__image {
        height: 175px;
        margin-bottom: 12px; }
      .block__news .block__date {
        font-size: 12px; }
      .block__news .block__paragraph {
        width: 100%;
        font-size: 15px; }
      .block__news .block__box {
        margin-bottom: 80px; }
      .block__news .block__col {
        position: relative; }
        .block__news .block__col .block__btn {
          position: relative;
          display: block;
          width: 50%;
          margin: 0 auto;
          bottom: -33px; } }

.block__box--width {
  padding: 0 69px 0 72px; }
  @media screen and (max-width: 1610px) {
    .block__box--width {
      padding: 0 63px; }
      .block__box--width .block__image {
        min-width: 210px; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .block__box--width {
      padding: 0; } }
  @media (max-width: 767px) {
    .block__box--width {
      padding: 0; } }

.block__hashtag {
  padding-top: 140px;
  height: 711px; }
  .block__hashtag .block__hashtag__wrapper {
    padding: 0 274px 0 272px; }
  .block__hashtag .image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; }
    .block__hashtag .image .block__inner {
      position: absolute;
      display: none;
      align-items: center;
      bottom: 0;
      left: 0;
      background-color: #fff;
      padding: 16px 28px 13px 10px; }
      .block__hashtag .image .block__inner .fa {
        font-size: 20px;
        color: #2aaeb3;
        padding-right: 6px; }
      .block__hashtag .image .block__inner span {
        font-size: 16px;
        font-family: 'Lato', sans-serif; }
      .block__hashtag .image .block__inner .block__icon--padded {
        padding-right: 29px; }
    .block__hashtag .image .block__inner--margin {
      margin-left: -1px; }
  .block__hashtag .block__images--floated {
    float: right; }
  .block__hashtag .block__title__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 73px; }
  .block__hashtag .block__btn {
    background-color: #2aaeb3;
    color: #fff;
    padding: 13px 93px 15px 16px; }
    .block__hashtag .block__btn .block__btn__line {
      background-color: #fff;
      left: 125px; }
  .block__hashtag .block__title {
    color: #2aaeb3;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-left: 2px;
    margin-top: -21px; }
  .block__hashtag .block__images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(321px, 1fr));
    grid-template-rows: repeat(1, 321px);
    grid-gap: 30px; }
  .block__hashtag img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  @media screen and (max-width: 1920px) {
    .block__hashtag .block__images {
      grid-template-rows: repeat(2, 321px); } }
  @media screen and (max-width: 1610px) {
    .block__hashtag .block__hashtag__wrapper {
      padding: 0 183px; } }
  @media screen and (max-width: 1180px) {
    .block__hashtag .block__hashtag__wrapper {
      padding: 0 64px; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .block__hashtag {
      padding-top: 50px; } }
  @media (max-width: 767px) {
    .block__hashtag {
      padding-top: 64px; }
      .block__hashtag .block__title__box {
        display: inline-block; }
      .block__hashtag .block__hashtag__wrapper {
        padding: 0 20px; }
      .block__hashtag .block__title {
        font-size: 31px;
        padding-bottom: 24px;
        padding-left: 0; }
      .block__hashtag .block__images {
        display: block; }
      .block__hashtag .image {
        height: 221px;
        margin-bottom: 15px; } }

.block__inner--show {
  display: flex !important; }

.footer .footer__wrapper {
  padding: 0 274px 0 272px; }

.footer .footer__box {
  border-top: 2px solid #f3f3f3;
  padding: 71px 51px 62px 49px; }

.footer .footer__nav {
  display: flex; }

.footer li {
  font-size: 16px;
  font-family: 'Lato', sans-serif; }

.footer .logo {
  font-size: 24px;
  color: #fff;
  margin-bottom: 12px; }

.footer .footer__icons-box {
  padding-bottom: 0; }

.footer .footer__nav__items--no-padding {
  padding-bottom: 0; }
  .footer .footer__nav__items--no-padding:first-child {
    padding-right: 120px; }
  .footer .footer__nav__items--no-padding:nth-child(2) {
    padding-right: 173px;
    margin-top: -1px; }
  .footer .footer__nav__items--no-padding:nth-child(3) {
    padding-right: 92px;
    margin-top: -1px; }
  .footer .footer__nav__items--no-padding:nth-child(4) {
    padding-right: 124px; }

.footer .fa {
  color: #fff;
  background-color: #111;
  font-size: 24px;
  font-weight: normal;
  width: 49.5px;
  height: 50px;
  padding-bottom: 0;
  text-align: center;
  padding-top: 12px;
  margin-right: 2px; }
  .footer .fa:hover {
    background-color: #2aaeb3; }

.footer .footer__list-class {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 21px; }

.footer .footer__list-class--padding-form {
  padding-bottom: 23px; }

.footer form {
  position: relative; }
  .footer form input {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    padding: 11px 25px 11px 17px;
    border: 1px solid #111; }
  .footer form button {
    position: absolute;
    top: -1px;
    right: -58px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: #fff;
    background-color: #111;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 11px 16px; }

@media screen and (max-width: 1919px) {
  .footer {
    margin-top: 300px; }
    .footer .footer__wrapper {
      padding: 0 274px 0 272px; }
    .footer .footer__nav {
      flex-wrap: wrap; }
    .footer .footer__nav__items--no-padding:first-child {
      padding-right: 60px; }
    .footer .footer__nav__items--no-padding:nth-child(2) {
      padding-right: 60px;
      margin-top: -1px; }
    .footer .footer__nav__items--no-padding:nth-child(3) {
      padding-right: 60px;
      margin-top: -1px; }
    .footer .footer__nav__items--no-padding:nth-child(4) {
      padding-right: 60px; } }

@media screen and (max-width: 1630px) {
  .footer .footer__wrapper {
    padding: 0 183px; }
  .footer .footer__box {
    padding: 73px 0px 62px 49px; }
  .footer .footer__nav__items--no-padding:nth-child(2) {
    padding-right: 80px; } }

@media screen and (max-width: 1419px) {
  .footer .footer__nav__items--no-padding:first-child {
    padding-right: 100px; }
  .footer .footer__nav__items--no-padding:nth-child(2) {
    padding-right: 100px; }
  .footer .footer__nav__items--no-padding:nth-child(3) {
    padding-right: 100px; }
  .footer .footer__nav__items--no-padding:last-child {
    margin-top: 40px; } }

@media screen and (max-width: 1305px) {
  .footer .footer__wrapper {
    padding: 0 64px; }
  .footer .footer__box {
    padding: 73px 0px 62px; }
  .footer .footer__nav__items--no-padding:first-child {
    padding-right: 60px; }
  .footer .footer__nav__items--no-padding:nth-child(2) {
    padding-right: 60px; }
  .footer .footer__nav__items--no-padding:nth-child(3) {
    padding-right: 60px; }
  .footer .footer__nav__items--no-padding:last-child {
    margin-top: 0px; } }

@media screen and (max-width: 1140px) {
  .footer .footer__nav__items--no-padding:first-child {
    padding-right: 90px; }
  .footer .footer__nav__items--no-padding:nth-child(2) {
    padding-right: 90px; }
  .footer .footer__nav__items--no-padding:nth-child(3) {
    padding-right: 90px; }
  .footer .footer__nav__items--no-padding:last-child {
    margin-top: 40px; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .footer {
    margin-top: 1200px; }
    .footer .footer__nav {
      align-items: baseline; }
    .footer .footer__nav__items--no-padding:first-child {
      padding-right: 150px; }
    .footer .footer__nav__items--no-padding:nth-child(2) {
      padding-right: 90px; }
    .footer .footer__nav__items--no-padding:nth-child(3) {
      padding-right: 90px; }
    .footer .footer__nav__items--no-padding:last-child {
      margin-top: 40px; } }

@media (max-width: 767px) {
  .footer {
    margin-top: 450px; }
    .footer .footer__wrapper {
      padding: 0 20px; }
    .footer .footer__box {
      padding: 39px 100px 62px 0px; }
    .footer .footer__list-class {
      padding-bottom: 10px; }
    .footer .footer__nav {
      align-items: baseline; }
    .footer .footer__nav__items--no-padding:first-child {
      padding-right: 90px;
      margin-bottom: 30px; }
    .footer .footer__nav__items--no-padding:nth-child(2) {
      padding-right: 90px;
      margin-bottom: 30px; }
    .footer .footer__nav__items--no-padding:nth-child(3) {
      padding-right: 90px;
      margin-bottom: 30px; }
    .footer .footer__nav__items--no-padding:last-child {
      margin-top: 40px; } }

.footer form button {
  top: 0;
  padding: 11px 11px 15px; }

.footer__list-class--wider {
  width: 150%; }
  @media screen and (max-width: 1630px) {
    .footer__list-class--wider {
      width: 100%; } }

.footer__list-class--padded {
  padding-bottom: 24px; }
  @media (max-width: 767px) {
    .footer__list-class--padded {
      padding-bottom: 10px; } }

.block__moments {
  background-color: #f9f9f9;
  padding-top: 31px; }
  .block__moments .block__moments__wrapper {
    padding: 0 270px 0 264px; }
  @media screen and (max-width: 1610px) {
    .block__moments .block__moments__wrapper {
      padding: 0 183px; } }
  @media screen and (max-width: 1422px) {
    .block__moments .block__moments__wrapper {
      padding: 0 64px; } }
  @media screen and (max-width: 1180px) {
    .block__moments .block__moments__wrapper {
      padding: 0 22px; } }

.block__moments__slider {
  position: relative; }
  .block__moments__slider .slick-arrow {
    position: absolute;
    left: 50.8%;
    font-size: 13px;
    bottom: 0;
    z-index: 5;
    color: #2aaeb3;
    outline: none; }
  .block__moments__slider .slick-next {
    position: absolute;
    padding: 33px 21px 26px 30px;
    bottom: 0;
    margin-left: 79px;
    background-color: #fff; }
    .block__moments__slider .slick-next:hover {
      cursor: pointer;
      color: #fff;
      background-color: #2aaeb3;
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75); }
  .block__moments__slider .slick-prev {
    padding: 33px 21px 26px 30px;
    position: absolute;
    bottom: 0;
    background-color: #fff; }
    .block__moments__slider .slick-prev:hover {
      cursor: pointer;
      color: #fff;
      background-color: #2aaeb3;
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75); }
  .block__moments__slider .block__moment__box {
    padding-top: 112px;
    padding-left: 5px; }
  .block__moments__slider .block__title {
    border-bottom: 2px solid #111;
    margin-bottom: 150px; }
    .block__moments__slider .block__title:before {
      content: '';
      border-bottom: 7px solid #111;
      width: 18%;
      bottom: -9px; }
  .block__moments__slider .block__moments__big-txt {
    font-size: 24px;
    letter-spacing: 0em;
    line-height: 1.5;
    width: 85%;
    margin-bottom: 30px; }
  .block__moments__slider .block__moments__small-txt {
    font-size: 18px;
    font-weight: bold; }
  .block__moments__slider .block__moments__big-txt,
  .block__moments__slider .block__moments__small-txt {
    font-family: 'Lato', sans-serif; }
  @media screen and (max-width: 1180px) {
    .block__moments__slider .block__moment__box {
      padding-left: 30px; }
    .block__moments__slider .slick-arrow {
      left: 54.8%; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .block__moments__slider .row {
      flex-wrap: wrap-reverse; }
    .block__moments__slider .block__moment__box {
      padding-left: 0;
      padding-top: 10px; }
    .block__moments__slider .block__title {
      margin-bottom: 70px;
      margin-left: 2px; }
    .block__moments__slider .block__moments__big-txt {
      text-align: center;
      width: 100%;
      font-size: 22px; }
    .block__moments__slider .block__moments__image-box--centered {
      margin: 0 auto; }
    .block__moments__slider .slick-arrow {
      left: 78%; } }
  @media (max-width: 767px) {
    .block__moments__slider {
      padding-bottom: 20px; }
      .block__moments__slider .block__moments__image-box--centered {
        margin: 0 auto; }
      .block__moments__slider .slick-arrow {
        display: none !important; }
      .block__moments__slider img {
        max-width: 100%;
        display: block;
        height: auto; }
      .block__moments__slider .block__title {
        font-size: 25px;
        margin-left: 2px;
        margin-bottom: 46px; }
      .block__moments__slider .block__moment__box {
        padding-left: 0;
        padding-top: 40px; }
      .block__moments__slider .block__moments__big-txt {
        text-align: center;
        font-size: 14px;
        width: 100%; }
      .block__moments__slider .block__moments__small-txt {
        font-size: 13px; } }

.block__moments__link {
  color: #2aaeb3;
  letter-spacing: 0.01em; }
