.block__hashtag {
  padding-top: 140px;
  height: 711px;

  .block__hashtag__wrapper {
    padding: 0 274px 0 274px;
  }

  .image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    &:first-child {
      background-position: 32% 36%;
      background-size: 141%;
    }

    &:nth-child(2) {
      background-position: 61% 45%;
      background-size: 235%;
    }

    &:nth-child(3) {
      background-position: 51% center;
      background-size: 151%;
    }

    &:last-child {
      background-position: 81% 76%;
    background-size: 153%;
    }

    .block__inner {
      position: absolute;
      display: none;
      align-items: center;
      bottom: 0;
      left: 0;
      background-color: $white;
      padding: 16px 28px 13px 10px;

      .fa {
        font-size: 20px;
        color: $blue;
        padding-right: 6px;
      }

      span {
        font-size: 16px;
        font-family: 'Lato', sans-serif;
      }

      .block__icon--padded {
        padding-right: 29px;
      }
    }

    .block__inner--margin {
      margin-left: -1px;
    }
  }

  .block__title__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 72px;
  }

  .block__btn {
    background-color: $blue;
    color: $white;
    padding: 13px 93px 17px 16px;

    .block__btn__line {
      background-color: $white;
      left: 125px;
      top: 22px;
    }
  }

  .block__title {
    color: $blue;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-left: 2px;
    margin-bottom: 0;
    margin-top: -10px;
  }

  .block__images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: repeat(1, 321px);
    grid-gap: 30px;
  }

  @media screen and (max-width: 1920px) {

    .block__images {
      grid-template-rows: repeat(2, 321px);
    }
  }

  @media screen and (max-width: 1610px) {

    .block__hashtag__wrapper {
      padding: 0 183px;
    }
  }

  @media screen and (max-width: 1180px) {

    .block__hashtag__wrapper {
      padding: 0 64px;
    }
  }

  @include breakpoint (tablet) {
    padding-top: 50px;

    .block__images {
      grid-template-rows: repeat(4, 321px);
    }
  }

  @include breakpoint (phone) {
    padding-top: 64px;

    .block__title__box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }

    .block__hashtag__wrapper {
      padding: 0 20px;
    }

    .block__title {
      font-size: 31px;
      padding-bottom: 0;
      padding-left: 0;
      margin-top: 25px;
    }

    .block__btn {
      margin-top: 25px;
    }

    .block__images {
      display: block;
    }

    .image {
      height: 221px;
      margin-bottom: 30px;
    }
  }
}

.block__inner--show {
  display: flex !important;
}
