.logo {
  font-size: 24px;
  color: $white;
  background-color: $black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  padding: 14px 18px 12px 19px;

  a {
    color: $white;
  }
}
